<h1>パスワードを忘れた場合</h1>

<p>お手数ですが、ブログに登録されているメールアドレスと、氏名を入力してください。</p>

	■メールアドレス：
	<input type="email" name="mail" class="validate[optional,custom[email]]" required placeholder="sample@gmail.com">
	<hr>
	■姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：
	<input type="text" name="name" class="validate[required]" required placeholder="山田"><br>
	■名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：
	<input type="text" name="name" class="validate[required]" required placeholder="一郎"><br>
	<hr>
<br>
	<input type="submit" value="確認" accesskey="n">
